<div class="sidebar">
   <div class="header-bar">
     <div class="search-bar">
        <input placeholder="Search" type="text">
        <i class="fa-solid fa-magnifying-glass"></i>    
     </div>
     <div class="buttons">
      <button>
        <span class="pin">

        </span>
        <i class="fa-solid fa-bell"></i>
      </button>
      <button class="cloud">
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </button>
     </div>
   </div>
   <app-suggestions></app-suggestions>
   <app-latest-post-activity></app-latest-post-activity>
</div>