.container{
    padding: 0 40px;
}

.story_container{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid#dfeeff;
    app-story{
        display: block;
        margin: 0 15px;
    }
}
.feeds{
    --text-color: #2e4175;
    --active-color: #a974ff;
    
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    &_label{
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
    }
    .tabs{
        .tab{
            &.active{
                color: var(--active-color); 
            }
            text-transform: capitalize;
            color: #a9bae3;
            background: transparent;
            border: 0;
            font-weight: 500;
            padding: 0 10px;
        }
    }
}
