<div class="container">
  <div class="story_container custom-scrollbar">
    <ng-container *ngFor="let item of user; let i = index">
      <app-story [avatar]="item.img" [username]="item.name" [fixed]="i == 0" [active]="i > 2"></app-story>
    </ng-container>
  </div>
  <div class="feeds">
    <label class="feeds_label">Feeds</label>
    <div class="tabs">
      <button class="tab">All</button>
      <button class="tab">following</button>
      <button class="tab">newest</button>
      <button class="tab active">popular</button>
    </div>
  </div>
  <div class="postes">
    <app-post
      *ngFor="let item of posts"
      [avatar]="'assets/avatar.jpg'"
      [image]="item.img"
      [like]="item.like"
      [active]="item.activeLike"
      (increaseLike)="increaseLike(item)"
    ></app-post>
  </div>
</div>
