.container{
    padding: 0 20px;
}
.story_container{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid#dfeeff;
    app-story{
        display: block;
        margin: 0 10px;
    }
}
