<div class="activity-post">
  <h3 class="activity-post_title">Latest Post Activity</h3>
  <div class="activity">
    <div class="post-data">
      <div class="post-image">
        <img
          alt="post"
          title="post-image"
          src="assets/teams-background.png"
        />
      </div>
      <div class="post-info">
        <h5 class="post-title">Minimalist Stairs</h5>
        <div class="post_buttons">
          <button>
            <i class="fa-solid fa-heart"></i>
            <p>27</p>
          </button>
          <button>
            <i class="fa-solid fa-comment-dots"></i>
            <p>12</p>
          </button>
          <button>
            <i class="fa-solid fa-bookmark"></i>
            <p>8</p>
          </button>
        </div>
      </div>
    </div>
    <button class="see-more">See All Posts</button>
  </div>
</div>
